<div class="cards-holder" id="cards-holder">
  <div class="application-card">
    <div class="application-info">
      <p><strong>№ 293192</strong></p>
      <div class="cancel-btn">Отменить</div>
      <!-- <img src="static/img/delete.png" class="icon"> -->
    </div>

    <div class="pet-card" style="background-color: #F7F7F7; box-shadow: none;">
      <img src="/static/photos/2024-10-13_06-48-22.jpg" class="pet-image">
      <div class="pet-info">
        <p><strong>Кличка:</strong> Тиша</p>
        <p><strong>Возраст:</strong> 4 года</p>
        <p><strong>Пол:</strong> Мужской</p>
        <p><strong>Фертильность:</strong> Нет</p>
      </div>
    </div>
    <details style="margin-bottom: 5px; margin-top: 5px;">
      <summary><strong>Обработка</strong></summary>
      <div class="application-info" style="justify-content: none; align-items: center;">
        <img src="static/img/stage-passed.svg" class="status-icon">
        <div style="width: 50%; height: 3px; background-color: #B2B2B2;"></div>
        <!-- <img src="static/img/filler.svg" class="filler-icon"> -->
        <img src="static/img/stage-passed.svg" class="status-icon" style="width: 28px;">
        <div style="width: 50%; height: 3px; background-color: #B2B2B2"></div>
        <!-- <img src="static/img/filler.svg" class="filler-icon"> -->
        <img src="static/img/stage.svg" class="status-icon">
      </div>
      <div class="application-info">
        <p>создана</p>
        <p><strong>обработка</strong></p>
        <p>решение</p>
        <!-- <img src="static/img/status-stage-2.webp" class="status-icon"> -->
      </div>
    </details>
  </div>
  <div class="application-card">
    <div class="application-info">
      <p><strong>№ 293192</strong></p>
      <div class="cancel-btn">Отменить</div>
      <!-- <img src="static/img/delete.png" class="icon"> -->
    </div>
  </div>
</div>