<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height, target-densitydpi=device-dpi">
    <title>Petshelter Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <header class="header" id="header">
        <div class="header-icon" id = "header-icon">
            <img src="static/img/home-active.png" alt="Главная" class="icon" id="icon">
        </div>
        <h1 id="app-page-title">Главная</h1>
        <div class="page-controls" id="page-controls"></div>
        <div class="page-controls" id="page-controls1"></div>
    </header>

    <div id="loading" class="loading-container" style="display:none">
        <img src="static/img/spinner.gif" alt="Загрузка" class="loading-img">
    </div>

    <main id="content" class="main-content">
        <div class="cards-holder" id="cards-holder">
            <div class="card" onclick="loadContent('pets', null ,2 ,1)">
                <img src="static/img/cat.png" alt="Кошки" class="card-icon"> <!-- Здесь добавьте путь к иконке кошки -->
                <span class="card-title">Кошки</span>
            </div>
            <div class="card" onclick="loadContent('pets', null, 3, 1)">
                <img src="static/img/dog.png" alt="Собаки" class="card-icon">
                <!-- Здесь добавьте путь к иконке собаки -->
                <span class="card-title">Собаки</span>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-icon" onclick="loadContent('home')">
            <img src="{{ url_for('static', filename='img/home-active.png') }}" id="home-icon" alt="Главная"
                class="icon">
        </div>
        <div class="footer-icon" onclick="loadContent('pets')">
            <img src="{{ url_for('static', filename='img/pets.png') }}" id="pets-icon" alt="Животные" class="icon">
        </div>
        <div class="footer-icon" onclick="loadContent('likes')">
            <img src="{{ url_for('static', filename='img/like.png') }}" id="likes-icon" alt="Профиль" class="icon">
        </div>
        <div class="footer-icon" onclick="loadContent('applications')">
            <img src="{{ url_for('static', filename='img/applications.png') }}" id="applications-icon" alt="Заявки"
                class="icon">
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>    
</body>

</html>
