<div class="cards-holder" id="cards-holder">
    <div class="card" onclick="loadContent('pets', null ,2)">
        <img src="static/img/cat.png" alt="Кошки" class="card-icon"> <!-- Здесь добавьте путь к иконке кошки -->
        <span class="card-title">Кошки</span>
    </div>
    <div class="card" onclick="loadContent('pets', null ,3)">
        <img src="static/img/dog.png" alt="Собаки" class="card-icon"> <!-- Здесь добавьте путь к иконке собаки -->
        <span class="card-title">Собаки</span>
    </div>
</div>