<div class="pet-page" id="pet-page">
    <div class="gallery-container" id="gallery-container">
        <div class="gallery" id="gallery"></div>
        <img src="static/img/left-arrow.png" class="prev-btn" onclick="prevImage()">
        <img src="static/img/right-arrow.png" class="next-btn" onclick="nextImage()">
    </div>
    <div class="image-counter" id="image-counter"></div>
    <div class="pet-card-info" id="pet-card-info-part1">
    </div>
    <div class="pet-card-info" id="pet-card-info-part2">
    </div>
    <div class = "full-length-btn" id="create_application">Принять в семью!</div>
</div>