    {% extends "base.html" %}

    {% block title %}Питомцы{% endblock %}

    {% block header_img %}
        <img src="static/img/pets-active.png" alt="Питомцы" class="icon">
    {% endblock %}

    {% block header_text %}Питомцы{% endblock %}
    
    {% block content %}
        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>

        <!-- Повторите блок выше для каждого питомца -->
        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>

        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>

        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>

        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>

        <div class="pet-card">
            <img src="static/photos/Кеша.webp" alt="Кот Кеша" class="pet-image">
            <div class="pet-info">
                <p><strong>Кличка:</strong> Кеша</p>
                <p><strong>Возраст:</strong> 3 года</p>
                <p><strong>Пол:</strong> мужской</p>
                <p><strong>Фертильность:</strong> кастрирован</p>
            </div>
        </div>
        <!-- ... -->
    {% endblock %}

    {% block image_footer_pets %}

    <img src="img/pets-active.png" alt="Питомцы" class="icon">

    {% endblock %}
